<table class="table table-striped table-bordered">
    <thead>
        <tr>
                <th>Transaction Type</th>
                <th>Who pay</th>
                <th>Who receve</th>
                <th>Money Amount</th>
                <th>Date</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let transaction of transactions | async">
                <td>{{transaction.itemName}}</td>
                <td (click)="foobar(transaction.whosPaying)">
                    {{(transaction.whosPaying | doc | async)?.name }}
                </td>
                <td>{{(transaction.whosReciving | doc | async )?.name}}</td>
                <td>{{transaction.amount}}</td>
                <td>{{transaction.date | date}}</td>
        </tr>
    </tbody>
</table>