<table class="table table-striped table-bordered">
    <thead>
    <tr>
            <th>Full Name</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Balence</th>
            <th>Memeber Fee</th>
            <th>Is Paid?</th>
            <th>Total Expenses</th>
            <th></th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let member of members | async">
        <a  routerLink="/member/{{member.id}}/info">{{member.name}}</a>
        <td >{{member.phoneNumber}}</td>
        <td >{{member.email}}</td>
        <td>{{member.memberBalance}}</td>
        <td>{{member.memberFee}}</td>
        <td>{{member.isMemberFeePaid}}</td>
        <td>{{member.totalExpenses}}</td>
        <td>
            <button routerLink="/member/{{member.id}}/edit" class="btn btn-sm btn-default">Edit</button>
            <button (click)="removeMember(member)" class="btn btn-sm btn-danger">Remove</button>
        </td>
    </tr>

</tbody>
</table>

<form  (submit)="addMember(form)" #memberForm>
    <table  class="table">
        <tr>
            <td>
                <input 
                placeholder="Full Name"
                type="text" 
                [(ngModel)]="newMember.name" 
                required 
                minlength="3"
                maxlength="40"
                name="name" 
                #name="ngModel" 
                class="form-group form-control ng-invalid ng-touched">

                <div class="alert alert-danger" *ngIf="(name.touched || submitted) && !name.valid">
                    Participant name is required!
                </div>
            </td>
            <td> 
                <input  
                placeholder="Phone" 
                type="tel"
                pattern="\d{2,3}[\-\ \d]\d{7,}"
                [(ngModel)]="newMember.phoneNumber" 
                required
                minlength="9"
                name="phone"
                #phone="ngModel" 
                class="form-group form-control ng-invalid ng-touched">

                <div class="alert alert-danger" *ngIf="(phone.touched || submitted) && !phone.valid">
                        Phone number is required!
                </div>
            </td>
            <td> 
                <input  
                placeholder="Email" 
                type="email" 
                pattern="[a-z0-9.%+-]+@[a-z0-9.%+-]+\.[a-z]{2,3}$"
                [(ngModel)]="newMember.email"
                required 
                name="email" 
                #email="ngModel"
                class="form-group form-control ng-invalid ng-touched">

                <div class="alert alert-danger" *ngIf="(email.touched || submitted) && !email.valid">
                        Enter valid email address!
                </div>
            </td>
            <td colspan="4">
                    <input 
                    type="submit" 
                    value="Add" 
                    class="btn btn-default reset-form" />
            </td>
        </tr>
    </table>
</form>
