<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<base href="/">
<h2>Null is not part of nature! </h2>
<nav>
  <a class="btn btn-outline-primary" routerLink="/members" routerLinkActive="active">Members</a>
  <a class="btn btn-outline-primary" routerLink="/transactions" routerLinkActive="active">Transactions</a>
  <a class="btn btn-outline-primary" routerLink="/summary" routerLinkActive="active">Summary</a>
  <!-- <a class="btn btn-outline-primary" routerLink="/member-info" routerLinkActive="active">Member Info</a> -->
</nav>
<router-outlet></router-outlet>
