
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Edit Member</h4>
                </div>
                <div class="panel-body">
                    <form [formGroup]="form" (submit)="saveMember()">
                        <div class="form-group">
                        <label class="panel-title">Full Name: </label>
                        <input formControlName="name" class="form-control">
                        <label class="panel-title">Phone Number: </label>
                        <input formControlName="phoneNumber" class="form-control">
                        <label class="panel-title">Email: </label>
                        <input formControlName="email" class="form-control">
                        <label class="panel-title">Balence: </label>
                        <input formControlName="memberBalance" class="form-control">
                        <label class="panel-title">Memeber Fee: </label>
                        <input formControlName="memberFee" class="form-control">
                        <label class="panel-title">Is Paid: </label>
                        <input formControlName="isMemberFeePaid" class="form-control">
                        <label class="panel-title">Total Expenses: </label>
                        <input formControlName="totalExpenses" class="form-control">
                        </div>
                        <div >
                                <input type="submit" value="Save update" class="btn btn-sm btn-success"/>
                                <br/> <br/>
                                <button  routerLink="/members" class="btn btn-sm btn-success">Back to members</button>
                        </div> 
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>